.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

.form-container {
  width: 100%;
  margin-top: 1rem;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
}

.preview-container {
  width: 100%;
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  color: #333;
  margin-top: 1rem;
}

.main-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
}

.clear-all-button,
.reset-cv-button,
.print-cv-button {
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.clear-all-button {
  background-color: #ff6b6b;
  color: white;
}

.clear-all-button:hover {
  background-color: #fa5252;
}

.reset-cv-button {
  background-color: #4dabf7;
  color: white;
}

.reset-cv-button:hover {
  background-color: #339af0;
}

.print-cv-button {
  background-color: #0aaa2d;
  color: white;
}

.print-cv-button:hover {
  background-color: #046419;
}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .form-container,
  .preview-container {
    width: 48%;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #cv-to-print,
  #cv-to-print * {
    visibility: visible;
  }

  #cv-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
